// Vars

$black: #010000;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$navyBlue: #282c34;
$red: #ff1755;

$easeInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$turnDuration: 0.6s;

// Mixins

@mixin translate($e, $f) {
    -webkit-transform: translate($e, $f);
    -moz-transform: translate($e, $f);
    transform: translate($e, $f);
}

@mixin translateX($e) {
    -webkit-transform: translateX($e);
    -moz-transform: translateX($e);
    transform: translateX($e);
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition:$e;
    -moz-transition:$e;
    transition:$e;
}

@mixin fa-spin($e) {
    -webkit-animation: fa-spin ($e) infinite linear;
    -moz-animation: fa-spin ($e) infinite linear;
    -o-animation: fa-spin ($e) infinite linear;
    animation: fa-spin ($e) infinite linear;
}

@mixin animate($name, $easing, $duration: 300ms, $delay: 0s, $iteration: 1, $direction: normal, $fill-mode: forwards) {
    animation: $name $duration $easing $delay $iteration $direction $fill-mode;
}

body {
    background: $navyBlue; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, $navyBlue, #0d5d74); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $navyBlue 10%, 75%, #0d5d74 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

nav,
nav ul,
nav ul li {
    margin: 0;
    padding: 0;
}

nav {
    ul li {
        list-style-type: none;
    }
}


a {
    @include transition(.4s ease-in-out);
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
        color: mediumaquamarine;
        text-decoration: none !important;
        @include transition(.4s ease-in-out);
        
    }
}

.container-fluid {
    line-height: 24px;
}

.fa-spin-hover:hover {
    @include fa-spin(5s);
}

