// Vars

// $bg_color: rgb(39, 45, 59);
// $bg_color: rgb(245, 245, 245);
$bg_color: rgb(228, 223, 210);

// $sec_color: rgb(102, 205, 170);
$sec_color: $roseBrown;
// $sec_color_a8: rgba(102, 205, 170, 0.8);
$sec_color_a8: rgba(129, 88, 88, 0.8);
// $sec_color_a5: rgba(102, 205, 170, 0.5);
$sec_color_a5: rgba(129, 88, 88, 0.5);
// $sec_color_a2: rgba(102, 205, 170, 0.2);
$sec_color_a2: rgba(129, 88, 88, 0.2);

$third_color: rgb(82, 82, 82);
$third_color_a8: rgba(82, 82, 82, 0.8);
$third_color_a5: rgba(82, 82, 82, 0.5);
$third_color_a2: rgba(82, 82, 82, 0.2);

$link_color: rgb(39, 45, 59);
$link_shadow: rgba(230, 230, 230, 0.7);

$text_color: rgb(24, 27, 36);
$text_color_sec: rgb(172, 172, 172);

#header-logo {
  font-family: 'Syne Mono';
};

body {
  font-family: 'Syne Mono';
  // font-family: 'Quicksand', sans-serif;
}