@import "_config.scss";
// @import "_style.scss";

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header header"
        "sidenav maincontent";
    justify-content: stretch;
    justify-items: stretch;
    overflow: hidden;
}

header {
    grid-area: header;
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    
    #header-logo {
        position: absolute;
        top: 50%; left: 25px;
        font-size: 18px;
        @include translateY(-50%);

        a {
            color: white;
        }
    }

    nav {
        position: absolute;
        top: 50%; right: 45px;
        @include translateY(-50%);

        ul li {
            display: inline-block;
            margin-right: 20px;

            .ViewToggle{
                -webkit-appearance: none;
                position: relative;
                outline: none;
                align-self: baseline;
                top: 5px;
                width: 50px;
                height: 25px;
                border-radius: 12.5px;
                background-color: goldenrod;
                background-image: url("../img/day.png");
                background-size: cover;
                transition: background-image .90s;
                box-shadow: 0px 1px 3px 1px gray;
            }

            .ViewToggle:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: goldenrod;
                border-radius: 12.5px;
                transition: all .9s;
                background-color: #F7CA33;
            }

            .ViewToggle:checked {
                background-image: url("../img/night.png");
                transition: background-image .90s;
            }
              
            .ViewToggle:checked:before {
                transform: translate(100%);
                transition: all .9s;
                background-color: #ECF0F3;
            }

            .moveLeft-hover:hover{
                transform: translateX(-100px);
                @include transition(.3s ease-in-out);
            }

            .fa-spin-hover:hover {
                @include fa-spin(5s);
            }

            .fa-waddle-hover:hover {
                transform: rotate(-30deg);
                @include transition(.3s ease-in-out);
            }
            
            a {
                font-size: 18px;
                line-height: normal;
                color: white;
            }
        }
    }
}

#sidenav {
    grid-area: sidenav;
    width: 250px;
    z-index: 99;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    @include transition(.3s ease-in-out);

    nav {
        position: absolute;
        width: inherit;
        top: 150px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0px 10px 10px 0px;

        ul {

            a {
                line-height: normal;
                color: white;
                

                li {
                    padding-left: 15px;
                    margin-left: 15px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 5px;

                    &:hover {
                        background-color: rgba(255,255,255,0.1);
                    }

                    .navToggleButton {
                        position: absolute;
                        right: 0px;
                        margin-right: 20px;
                        border: none;
                        background: none;
                        color: white;

                        @include transition(.2s ease-in-out);

                        &.show {
                            transform: rotate(90deg);
                        }
                    }
                }

                .navIcon {
                    width: 30px;
                    display: inline-block;

                    svg {
                        margin-right: 5px;
                    }
                }
                
            }

            .collapse {
                margin-top: 20px;

                ul li {
                    padding-left: 25px;
                    margin-bottom: 10px;
                }
            }

        }
    }
}

#content {
    // grid-area: content;
    overflow: hidden;
}

#mainContent {
    grid-area: maincontent;
    padding: 20px;
    // right: -17px;
    overflow-x: visible;
    overflow-y: scroll;
}

#binClock {
        
    .clock {
        display: flex;
        position: absolute;
        top: 50%; left: 250px;
        @include translateY(-50%);

        .binary-digit-group {
            display: flex;
            margin: 0 6px;

            .binary-digit
                .pip {
                width: 5px;
                height: 5px;
                margin: 3px;
                background-color: #525252;
                border-radius: 100%;
                transition: all .3s ease-in;
            }

            .binary-digit
                .pip--on {
                background-color: #48d8b8;
                transform: scale(1.1);
            }
        }
    }
    
    .onHome {
        visibility: hidden;
    }
}

#dateClock {
    
    .dateClock {
        display: flex;
        position: absolute;
        top: 50%; left: 400px;
        @include translateY(-50%);
    }

    .onHome {
        visibility: hidden;
    }
}

#flipClock {
    $border: whitesmoke;
    $card: white;
    $font-family: 'Roboto Condensed', sans-serif;
    $font-size: 5em;
    $font-width: normal;
    $font-color: lighten(black, 20%);

    * {
        box-sizing: border-box;
    }
    
    .flipClock {
        display: flex;
        justify-content: space-between;
        width: 3 * 140px + 30px;
    }

    .flipUnitContainer {
        display: block;
        position: relative;
        width: 140px;
        height: 120px;
        perspective-origin: 50% 50%;
        perspective: 300px;
        background-color: $card;
        border-radius: 3px;
        box-shadow: 0px 10px 10px -10px grey;
    }

    .upperCard, .lowerCard {
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        height: 50%;
        overflow: hidden;
        border: 1px solid $border;
        
        span {
            font-size: $font-size;
            font-family: $font-family;
            font-weight: $font-width;
            color: $font-color;
        }
    }

    .upperCard {
        align-items: flex-end;
        border-bottom: 0.5px solid $border;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        span {
            transform: translateY(50%);
        }
    }

    .lowerCard {
        align-items: flex-start;
        border-top: 0.5px solid $border;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        
        span {
            transform: translateY(-50%);
        }
    }

    .flipCard {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
        backface-visibility: hidden;
        
        span {
            font-family: $font-family;
            font-size: $font-size;
            font-weight: $font-width;
            color: $font-color;
        }
        
        &.unfold {
            top: 50%;
            align-items: flex-start;
            transform-origin: 50% 0%;
            transform: rotateX(180deg); // from 180 to 0
            background-color: $card;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border: 0.5px solid $border;
            border-top: 0.5px solid $border;
            
            span {
                transform: translateY(-50%);
            }
        }
            
        &.fold {
            top: 0%;
            align-items: flex-end;
            transform-origin: 50% 100%;
            transform: rotateX(0deg); // from 0 to -180
            background-color: $card;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: 0.5px solid $border;
            border-bottom: 0.5px solid $border;
            
            span {
                transform: translateY(50%);
            }
        }
    }

    .fold {
        @include animate(fold, $easeInOut, 0.6s);
        transform-style: preserve-3d;
    }

    .unfold {
        @include animate(unfold, $easeInOut, 0.6s);
        transform-style: preserve-3d;
    }

    @keyframes fold {
        0% { transform: rotateX(0deg); }
        100% { transform: rotateX(-180deg); }
    }

    @keyframes unfold {
        0% { transform: rotateX(180deg); }
        100% { transform: rotateX(0deg); }
    }
}

// .icon {
//     font-family: 'Material Icons', serif;
//     font-style: normal;
//     display: inline-block;
//     vertical-align: middle;
//     line-height: 1;
//     text-transform: none;
//     letter-spacing: normal;
//     word-wrap: normal;
//     white-space: nowrap;
//     direction: ltr;

//     -webkit-font-smoothing: antialiased;
//     text-rendering: optimizeLegibility;
//     -moz-osx-font-smoothing: grayscale;
//     font-feature-settings: 'liga';
// }

#calendar {
    // visibility: hidden;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    max-width: 50em;

    .calendar {
        display: block;
        position: relative;
        width: 100%;
        background: var(--neutral-color);
        border: 1px solid var(--border-color);
    
        .header {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 115%;
            padding: 1.5em 0;
            border-bottom: 1px solid var(--border-color);
        
        
            .col .icon {
                cursor: pointer;
                transition: .15s ease-out;
            }
        
            .col .icon:hover {
                transform: scale(1.75);
                transition: .25s ease-out;
                color: var(--main-color);
            }
        
            .col .icon:first-of-type {
                margin-left: 1em;
            }
        
            .col .icon:last-of-type {
                margin-right: 1em;
            }
        }
    
        .days {
            text-transform: uppercase;
            font-weight: 400;
            color: var(--text-color-light);
            font-size: 70%;
            padding: .75em 0;
            border-bottom: 1px solid var(--border-color);
        }
    
        .body {
            .row {
                border-bottom: 1px solid var(--border-color);

                .cell {
                    position: relative;
                    height: 5em;
                    border-right: 1px solid var(--border-color);
                    overflow: hidden;
                    cursor: pointer;
                    background: var(--neutral-color);
                    transition: 0.25s ease-out;
    
                    .number {
                        position: absolute;
                        font-size: 82.5%;
                        line-height: 1;
                        top: .75em;
                        right: .75em;
                        font-weight: 700;
                    }
    
                    .bg {
                        font-weight: 700;
                        line-height: 1;
                        color: var(--main-color);
                        opacity: 0;
                        font-size: 8em;
                        position: absolute;
                        top: -.2em;
                        right: -.05em;
                        transition: .25s ease-out;
                        letter-spacing: -.07em;
                    }
                }
        
                .cell:hover {
                    background: var(--bg-color);
                    transition: 0.5s ease-out;
    
                    .bg {
                        opacity: 0.05;
                        transition: .5s ease-in;
                    }
                }
    
                .cell:last-child {
                    border-right: none;
                }
    
                
    
                .col {
                    flex-grow: 0;
                    flex-basis: calc(100%/7);
                    width: calc(100%/7);
                }
    
                .selected {
                    border-left: 10px solid transparent;
                    border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
                    border-image-slice: 1;
    
                    .bg {
                        opacity: 0.05;
                        transition: .5s ease-in;
                    }
                }
    
                .disabled {
                    color: var(--text-color-light);
                    pointer-events: none;
                }
            }
    
            .row:last-child {
                border-bottom: none;
            }
        }
    }
}

.MarkdownEditor{
    // display: absolute;
    width: 100%;
    height: auto;

    .markdown-output {
        position: relative;
        overflow-y: scroll;
        
        // background-color:yellowgreen;
        width: 95%;
        min-height: none;
        max-height: 750px;
        height: auto;
        margin: 0 10 5 0;
    }

    .markdown-input {
        // overflow-y: scroll;
        position: relative;
        @include transition(.3s ease-in-out);

        background: none;
        width: 95%;
        min-height: 100px;
        max-height: none;
        border-color: rgba(72,216,184,0.5);
        border-width: 2px;
        border-radius: 10px;
        margin: 0 5 10 0;
        padding: 10px;
        color: white;
    }

    .exportButton {
        border-radius: 5px;
        background: rgba(72,216,184,0.5);
    }

}
